body{
    background: linear-gradient(45deg, #EECFBA, #C5DDE8);
    font-family: "-apple-system",BlinkMacSystemFont,Arial,sans-serif;
}

.main-container{
    width: 80%;
    height: 95%;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    overflow: auto;
    padding: 10px;
}

@media screen and (max-width: 980px) {
    .main-container{
        width: 90%;
        margin-top: 3%;
        margin-left: auto;
        margin-right: auto;
        background-color: aliceblue;
    }
}

button, .index-page a{
    background-color: #4CAF50;
    text-align: center;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover, .index-page a:hover {
    opacity: 0.8;
}